<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ESTE ES EL LOGIN</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dist/output.css') }}">
</head>
<body>
<div class="flex-auto h-full justify-center">
    <div class="h-full w-full bg-fuchsia-100">
        hola amigos de youtube

        <div class="flex h-full">
            <div class="relative w-40 text-sky-500 border-b-purple-800 bg-teal-200">
                <p class="cursor-pointer">Tailwind is great!</p>
            </div>

        </div>
    </div>
</div>
</body>
</html>